.header {
	padding-top: 20px;
	text-align: center;
}

.deleteButton {
	margin: 10px;
}

#footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.79rem;
  }

::placeholder {
	font-style: italic;
	color: lightgray;
	font-size: 0.8em;
}

li {
	list-style-type: none;
}
